html {
  --background: #ffffff;
  --text: #000000;
  --theme-button-background: rgb(225, 225, 225);
}

:root.dark-theme {
  --background: #000000;
  --text: #ffffff;
  --theme-button-background: rgb(252, 252, 112);
}

.header {
  font-size: 50px;
}

img {
  border-radius: 50%;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.hide-img {
  display: none;
}

.theme-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--theme-button-background);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.page-outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}